<div ng-controller="BravosCtrl">
  <div id="bravo-list-container">
    <ul>
      <li ng-repeat="bravo in bravos">
      <h3>{{bravo.title}} <small>({{bravo.duration}})</small></h3>
      </li>
    </ul>
  </div>
</div>
